#funfacts {
  margin: 0 auto; /* Esto centra el elemento horizontalmente */
}
#funfacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#funfacts p{
  margin-top: 0;
  font-weight: 600;
  word-spacing: 5px;
  line-height: 25px;
}