@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  height: fit-content;
  background-color: #8b0000;
  background-size: 400% 400%;
  animation: gradientAnimation 4s ease infinite;
  font-family: "Montserrat", serif;
  color: #f0f8ff;
  cursor: default;
}

.title{
  margin-top: 60px;
  text-align: center;
  padding: 20px;
}
.title h1,
.title p {
  margin: 0;
  color: #f0f8ff;
  text-shadow: 2px 2px 4px #000000;
}
.title p{
  font-size: 18px;
}
p{
  font-weight: 600;
}
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 28px;
}
section{
    text-align: center;
  background-color: #f0f8ff;
  border-radius: 15px;
  color: #8b0000;
  padding: 25px;
  width: 65%;
  margin: 0 auto; /* Esto centra el elemento horizontalmente */
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@keyframes textGlow {
  0% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
      0 0 5px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
      0 0 10px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
      0 0 5px rgba(255, 255, 255, 0.8);
  }
}
